.interna-portfolio {
  background: url(../img/bg-portfolio.jpg) no-repeat center;
  background-size: cover;
}

.quote-clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote-clientes p {
  text-align: center;
  font-style: italic;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.quote-clientes cite {
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 25px;
  float: right;
  font-style: normal;
  margin-bottom: 40px;
}
