.interna-produtos {
  background: url(../img/bg-produtos.jpg) no-repeat center;
  background-size: cover;
}

.produto-item {
  padding-top: 60px;
}

.produto-item h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  position: relative;
  top: -180px;
  text-align: center;
  color: #ffffff;
  margin-bottom: -56px;
}

.produto-item h2::after,
.produto-item h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 4px auto 8px auto;
}

.produto-icone {
  background: #000000;
  padding: 70px 0;
}

.produto-icone img {
  margin: 0 auto;
}

.produto-info {
  background: #000000;
}

.produto-info p {
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
  height: 180px;
  padding: 20px 40px;
}

.produto-info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
}

.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}

.produto-info ul li:nth-child(even) {
  margin-left: 2px;
}

/* Orçamento */
.orcamento {
  background: #000000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}

.orcamento h2 {
  color: #fec63e;
  padding-top: 40px;
}

.orcamento h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 4px auto 8px auto;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  color: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 2px solid #fec63e;
  border-radius: 20px;
  background: none;
  color: #ffffff;
  padding: 8px 10px;
  margin-bottom: 8px;
  outline: none;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 2px solid #fec63e;
  border-radius: 20px;
  background: none;
  color: #ffffff;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form button {
  padding: 8px 20px;
  border: none;
}

.orcamento-dados {
  color: #ffffff;
}

.orcamento-dados h3 {
  color: #fec63e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
}

.orcamento-dados span {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.orcamento-dados span:nth-of-type(2) {
  margin-bottom: 32px;
}

.orcamento-dados ul {
  padding-right: 40px;
}

.orcamento-dados ul li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
}

.orcamento-dados ul li:nth-child(odd) {
  background: #1d1d1d;
  margin-left: 480px;
}

.orcamento-dados p {
  margin: 8px 0;
}
